PORT=3003
MONGODB_URI=mongodb://host.docker.internal:27017/events_hub_db
RABBITMQ_URL=amqp://host.docker.internal
RABBITMQ_EXCHANGE=events_exchange
RABBITMQ_QUEUE_CLICKS=clicks_queue
RABBITMQ_QUEUE_CALIFICATIONS=califications_queue
RABBITMQ_QUEUE_PLAYS=plays_queue